.CodeMirror-foldmarker {
	outline: solid gray 1px;
	display: inline-block;
	font-size: 0.7em;
	cursor: pointer;
	width: 20px;
	font-size: 0.7em;
}

.CodeMirror-foldgutter {
	width: 16px;
}

.CodeMirror-foldgutter-open,.CodeMirror-foldgutter-folded {
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	position: relative;
}

.CodeMirror-foldgutter-open {
	background-image:
		url("data:image/gif;base64,R0lGODlhEAAQANUAAIuWq7W+y+Dk6q65yLvF0sTM1s3V36O0x7fE09fe5sTP2tHb5dHa49jg6Nbe5uDn7rLC0cfT3tDb5dHa4sLR3sPR3cvX4d/n7tjg5+Lp78bT3dfj7Ojt8evv8szf69Tl8NXl78nl9dfr9tjr9t7u99js9uDy+97u9tfk6+v3/eDy+t3u9uHy+uXu8uv3/OLw9er3/PL6/f///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAADIALAAAAAAQABAAAAZcQJlwSCwaj8jksSMoBAqCDpJjYLRirYmBc2xYXK4UzGXBHBEgE0vF/iCOhxBgPg8djhDPSCQqiTwQRxIVJyQrJycUC0cPChobLygRChdIGQ4EAwQJGUqen6ChSUEAOw==");
}

.CodeMirror-foldgutter-folded {
	background-image:
		url("data:image/gif;base64,R0lGODlhEAAQANUAACQsQ42ZrISSp6+6ysvS3JWjtqKtvHaMpr3I1evv9I+iuKKxwrTD1LzI1b/L2LPD1LTC0ImftJ+0yKC0x6a4yKy9zb/L1rTCzqW4x73Q3vH09vDz9a3K3bnU5brU5KjU7b3d77/d77/e78ji8ezx9Mvp+Mji773S3dTi6c3p9t3x+svp9tzx+s7l7en2+////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAC8ALAAAAAAQABAAAAZdwJdwSCwaj8jkUUMwBAwEDXIzgKBcqMtgc3RUVCoAS1WxHBWeUgqwWnUUx8MHQKd/DscIJwQCiEAcEUcPEyYjACYmEgxHCQsYGS0nFAsJSCQNBQIFCCRKn6ChoklBADs=");
}